<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <th:block th:replace="fragments/layout :: cssjs"/>
</head>
<body>

<div th:replace="fragments/layout :: header"></div>

<div class="container">
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">암호</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>

<hr>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>